[Bb]in/
[Dd]ebug*/
obj/
[Rr]elease*/
[Pp]ackages/
*.orig
discoveredTests.nunit
publish/**
**.user
*.zip
**/logs/**
**/.ionide/**
.hgtimestamp
*.crunchsolution.cache
**/node_modules/**
tools/*/**
tools/nuget.exe
test-results/**
coverage-results/**
artifacts/**
**.suo
**/generated_sql/**
**/storage.ide
_NCrunch_*/**
**/_NCrunch_*/**
NCrunchTemp_*.csproj
.sonarqube/
**/.learningtransport/**
**/.vs/**
**/.idea/**
**/coverage/**
jest_html_reporters.html
jest-stare
**/artifacts/**
**/.vscode/**
*.log.*
Challenges.Web/Properties
Challenges.Web/obj
Challenges.Tests/obj
*.user